  div p {
    background -image: url(penguins.jpg)
    border-radius:50px;
    background-color: cream; 
    height: 150px;
  }


  div d {
    background -image: url(dinosaur.jpg)
    background-color: white; 
    height: 150px;
  }
